.wrapper {
  width: 85%;
  margin: 0 auto;
}

input {
  display: block;
  margin: 0 auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-gap: 30px;
  align-items: center;
  justify-content: center;
  /*display: flex;
  flex-wrap: wrap;
  justify-content: space-around;*/
}

.gallery img {
  /*margin: 10px;*/
}