.wrapper {
  width: 1000px;
  margin: 0 auto;
}

input {
  display: block;
  margin: 20px auto;
  width: 80%;
  height: 25px;
  max-width: 450px;
  border: 1px solid LightGray;
  border-radius: 5px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-gap: 30px;
  align-items: center;
  justify-content: center;
}
